.navContainer {
  background-color: transparent;
  color: white;
  transition: 0.7s all ease;
  /* position: sticky; */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.active {
  padding-block: 10px;
  background-color: white;
  color: black;
  box-shadow: 0px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(194, 194, 194, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(194, 194, 194, 0.75);
}
.link h3 {
  font-size: 1.5rem;
}
nav {
  padding-inline: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  align-items: center;
  gap: 14px;
}
.navLinks {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navLinks li {
  text-decoration: none;
  list-style: none;
}
nav h3 {
  margin: 0;
  padding: 0;
}
.logo {
  width: 50px;
  height: 50px;
  object-fit: fill;
  object-position: center;
}
.logoName {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3px;
}
